#log-container { 
    background:black; 
    overflow-y: scroll;
    overflow-wrap: break-word;
    height:25vh;
    display: flex;
    flex-direction: column-reverse;
}
.log-boolean,
.log-undefined {color: magenta;}
.log-object,
.log-string {color: green;}
.log-number {color: cyan;}